<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naxam.Google.Gson" version="2.6.2" targetFramework="monoandroid71" />
  <package id="Naxam.ReactiveStreams.Droid" version="1.0.0" targetFramework="monoandroid60" />
  <package id="Naxam.Retrofit2.ConvertGson.Droid" version="2.1.0.2" targetFramework="monoandroid71" />
  <package id="Naxam.Retrofit2.Droid" version="2.1.0.1" targetFramework="monoandroid71" />
  <package id="Naxam.RxJava2.Droid" version="2.1.2" targetFramework="monoandroid60" />
  <package id="Naxam.SquareUp.OkHttp3" version="3.8.0" targetFramework="monoandroid71" />
  <package id="Naxam.SquareUp.OkHttp3.LoggingInterceptor" version="3.6.0" targetFramework="monoandroid71" />
  <package id="Naxam.SquareUp.Okio" version="1.13.0" targetFramework="monoandroid71" />
  <package id="NuGet.CommandLine" version="4.3.0" targetFramework="monoandroid60" developmentDependency="true" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="23.4.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.4.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="25.0.0.0" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Vision" version="29.0.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Kotlin.StdLib" version="1.1.1" targetFramework="monoandroid60" />
</packages>